{% extends 'base.html.twig' %}

{% block title %}Renting index{% endblock %}

{% block body %}
    <h1>Renting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>CoefPrice</th>
                <th>Model</th>
                <th>First name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for renting in rentings %}
            <tr>
                <td>{{ renting.id }}</td>
                <td>{{ renting.dateStart ? renting.dateStart|date('Y-m-d') : '' }}</td>
                <td>{{ renting.dateEnd ? renting.dateEnd|date('Y-m-d') : '' }}</td>
                <td>{{ renting.coefPrice }}</td>
                <td>{{ renting.vehicle.model }}</td>
                <td>{{ renting.customer.firstName }}</td>
                <td>
                    <a href="{{ path('app_renting_show', {'id': renting.id}) }}">show</a>
                    <a href="{{ path('app_renting_edit', {'id': renting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_renting_new') }}">Create new</a>
{% endblock %}
